/* custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.modal::-webkit-scrollbar {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #343434;
    border: 4px solid transparent;
    background-clip: content-box;
}

/* Remove Arrows/Spiners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    -webkit-box-shadow: none;
}

@font-face {
    font-family: "fontawesome";
    src: url(./fonts/fontawesome-webfont.ttf);
}

@font-face {
    font-family: "ibm";
    src: url(./fonts/IBMPlexMono-Regular.otf);
}

@font-face {
    font-family: "ibm-medium";
    src: url(./fonts/IBMPlexMono-Medium.otf);
}

@font-face {
    font-family: "ibm-bold";
    src: url(./fonts/IBMPlexMono-Bold.otf);
}

@font-face {
    font-family: "ibm-semi-bold";
    src: url(./fonts/IBMPlexMono-SemiBold.otf);
}

@font-face {
    font-family: "ibm-light";
    src: url(./fonts/IBMPlexMono-Light.otf);
}

@font-face {
    font-family: "ibm-thin";
    src: url(./fonts/IBMPlexMono-Thin.otf);
}

@font-face {
    font-family: "press";
    src: url(./fonts/PressStart2P-Regular.ttf);
}

.perspective {
    perspective: 100px;
}

.panel {
    transform: perspective(22px) rotateY(-3deg);
    background: linear-gradient(to right,
            rgb(0, 0, 0, 0.8),
            rgba(36, 36, 36, 0.1) 50%,
            rgba(255, 255, 255, 0));
}

.animation {
    background: url("/images/landing/hero-nfts.png");
    background-repeat: repeat;
    background-size: 100% 100%;
}

.anim1 {
    transform: perspective(15px) rotateY(-3deg) translate3d(0px, -100px, -1px);
    animation: animatedBackground1 300s linear infinite;
}

@keyframes animatedBackground1 {
    from {
        background-position: 0 0;
    }

    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: -10000px 0;
    }
}

.anim2 {
    transform: perspective(17px) rotateY(-3deg) translate3d(0px, 80px, -2px);
    animation: animatedBackground2 300s linear infinite;
}

@keyframes animatedBackground2 {
    from {
        background-position: -300px 0px;
    }

    to {
        background-position: -10300px 0px;
    }
}

.anim3 {
    transform: perspective(19px) rotateY(-3deg) translate3d(0px, -70px, -3px);
    animation: animatedBackground3 300s linear infinite;
}

@keyframes animatedBackground3 {
    from {
        background-position: -700px 0px;
    }

    to {
        background-position: -10700px 0px;
    }
}

.anim4 {
    transform: perspective(21px) rotateY(-3deg) translate3d(0px, 40px, -4px);
    animation: animatedBackground4 300s linear infinite;
}

@keyframes animatedBackground4 {
    from {
        background-position: -1200px 0px;
    }

    to {
        background-position: -11200px 0px;
    }
}

.anim5 {
    transform: perspective(22px) rotateY(-3deg);
    animation: animatedBackground5 300s linear infinite;
}

@keyframes animatedBackground5 {
    from {
        background-position: -1500px 0px;
    }

    to {
        background-position: -11500px 0px;
    }
}